<mat-toolbar class="header">
  <div class="title">
    <img
      src="/vizient-logo-registered.svg"
      alt="Vizient logo"
      class="logo"
      matTooltip="Reload page to reset teams"
      matTooltipPosition="below"
      matTooltipShowDelay="400"
      (click)="onLogoClick()"
    />

    <a
      routerLink="/teams"
      aria-label="Teams page"
      matTooltip="Teams page"
      class="app-title-link"
      >VizTeams</a
    >
  </div>
  <!-- "Sign In" and "Sign Up" when not logged in -->
  @if(!(user$ | async); as noUser){
  <button
    matIconButton
    [matMenuTriggerFor]="menu"
    class="auth-trigger"
    aria-label="Authentication menu"
    matTooltip="Log in / Sign up"
    aria-haspopup="menu"
  >
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openLogin()">
      <mat-icon>login</mat-icon>
      <span>Sign In</span>
    </button>
    <button mat-menu-item (click)="openSignup()">
      <mat-icon>account_box</mat-icon>
      <span>Sign Up</span>
    </button>
    <button mat-menu-item routerLink="/contact">
      <mat-icon>info</mat-icon>
      <span>Contact</span>
    </button>
  </mat-menu>
  }
  <!-- Email/username and logout when logged in -->
  @if(user$ | async; as user){
  <div class="auth-area">
    <span class="user-name">{{ user.email || user.username }}</span>
    <button
      matIconButton
      [matMenuTriggerFor]="menu"
      class="auth-trigger"
      aria-label="Authentication menu"
      matTooltip="Log out"
      aria-haspopup="menu"
    >
      <mat-icon>person</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Log Out</span>
    </button>
    <button mat-menu-item routerLink="/contact">
      <mat-icon>info</mat-icon>
      <span>Contact</span>
    </button>
  </mat-menu>
  }
</mat-toolbar>
