.teams-page {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.teams-page > app-team-list,
.teams-page > app-members-panel {
  flex: 1 1 0;
  display: flex;
  min-width: 0;
}

@media (max-width: 1100px) {
  .teams-page {
    flex-direction: column;
  }
  app-team-list,
  app-members-panel {
    width: auto;
    margin-right: 32px;
  }
}
