.teams-page {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.teams-page > app-team-list,
.teams-page > app-members-panel {
  flex: 1 1 0;
  display: flex;
  min-width: 0;
}

@media (max-width: 1100px) {
  .teams-page {
    flex-direction: column;
  }
  app-team-list,
  app-members-panel {
    width: auto;
    margin-right: 32px;
  }
}

.pattern-bg {
  position: absolute;
  top: var(--header-height);
  bottom: var(--footer-height);
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 0;
  background-color: #ffffff;
}

.pattern-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/Squiggles2--Arvin61r58.svg');
  background-repeat: repeat;
  background-size: 350px auto;
  opacity: 0.25;
  animation: movePattern 120s linear infinite;
  z-index: 1;
  filter: invert(53%) sepia(96%) saturate(1677%) hue-rotate(359deg)
    brightness(100%) contrast(98%);
}

@keyframes movePattern {
  0%   { background-position: 0 0; }
  50%  { background-position: 1000px 500px; }
  100% { background-position: 0 0; }
}

.pattern-bg::after {
  animation: movePattern 120s ease-in-out infinite;
}


.teams-page {
  position: relative;
  z-index: 3;
}
